
html{
    font-size: 1.1rem;
}
body{
    font-family:plus jakarta sans,sans-serif;
    background-color: #fffdf1;
   
   
}

/* navbar */

.navbar-brand{
    padding-left: 10px;
}
.nav-item {
    padding-left: 10px;
  
}
.nav-link{
    color: rgb(53, 52, 52);
    font-size: 20px;
    
}
.nav-link:hover{
    text-decoration: underline;
    color: red;
   
}
.nav-link:active{
    text-decoration: underline;
    color: rgb(47, 255, 0);
   
}

.search{
   background-color: #fffdf1;;
   padding: 5px;
   width: 200px;
   outline: 1px solid rgb(41, 40, 40);
   font-size: 20px;
   border-radius: 20px ;
   
}

.search:hover{
    background-color: rgb(181, 174, 174);
    
}
 /* bannerimg */

.banner-img{
    margin: 60px 0 50px 0px;
}
.banner-side{
    margin: 80px 0 50px 0px;
    padding-left: 30px;
   

}
.banner-side-heading{
    font-size: 60px;
    font-weight: 500;
}
.review-rate{
    font-size: 20px;
}
.customer-review{
    font-size: 20px;
    font-style: italic;
}


/* .service */
.service{
    display: flex;
    padding: 50px ;
    border-radius: 40px;
    background-color: #f0eeee;
    margin: 20px 100px 50px 100px;
}
.feature{
 
   height: 150px;
   padding: 10px 0px 10px 0;
}


/* Leading Work Management */
.banner2-img{
    margin: 20px 0 0 0;
}
.banner-side2{
    margin: 80px 0 0px 20px;
}
.banner-side-heading2{
    font-size: 40px;
    font-weight: 600;
}

.icon-strong{
    margin-left: 15px;
}
.icon-para{
    margin-left: 60px;
}

/* over-service */

.over-service{
    text-align: center;
    margin-top: 50px;
    line-height: 2;

}
.over-service-heading{
    font-size: 40px;
   font-weight: 600;
   margin-bottom: 40px;
}
.r{
   outline: 40px solid white;
   border-radius: 10px;

}


/* footer */


footer{
    background-color: #100546;
    color: white;
    padding: 40px;
    text-align: center;
    line-height: 2;
    margin-top: 40px;
}
ul li{
    list-style: none; 
    
}
h5{
    text-align: center;
}
.footer-icon ul li{

    display: inline;
    padding: 5px;

}

.copy-right{
    background:#100546;
    color: #f0eeee;
    border-top: 1px solid white;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    font-size: large;
    
}



